# --- Core Data Science Libraries ---
pandas
numpy
scikit-learn
matplotlib
seaborn
dill

# --- Project Infrastructure ---
# Libraries needed for setting up and running notebooks/code
jupyter
ipykernel 
dataclasses 


-e .